@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid:true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';
@import url(https://fonts.googleapis.com/css?family=Raleway|Arimo);

* {
  box-sizing: border-box;
}

.bodyWrapper {
  background: #036A93;
  @include outer-container;
  font-family: 'Arimo', sans-serif;
}

.head {
  width: 100%;
  background: #F3F0CD;
  margin-bottom: 20px;
  display: block;
  position: relative;
  float: left;
}

.ulNav li {
  display: -webkit-inline-box;
  text-decoration: none;
}

.navLogin, .navRegister, .navProfile {
  float: right;
  padding: 0px 10px;
}

.tweetInput {
  @include span-columns(6);
  @include shift(3);
}

.tweetBox {
  width: 530px;
  height: 80px;
}

.tweetList {
  @include span-columns(6);
  @include shift(3);
  border: 3px solid #586576;
  border-bottom: none;
  border-radius: 2px;
  background: #609EB7;
}

// div.tweet {
//   border-bottom: 3px solid #586576;
//   color: #141C3A;
//   .tweetTime {
//     font-size: 8px;
//     padding: 5px;
//     border-right: 1px solid #A7DBDB;
//     border-bottom: 1px solid #A7DBDB;
//   }
// }
//
// .tweetBody {
//   font-size: 20px;
//   padding: 0px 8px;
// }
//
// .userHandle {
//   text-decoration: none;
//   color: #4078C0;
//   padding: 4px;
//   border-bottom: 1px solid #A7DBDB;
// }
