@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid:true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';
@import url(https://fonts.googleapis.com/css?family=Raleway|Arimo);
@import url(https://fonts.googleapis.com/css?family=Lateef);

* {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

body {
  background: rgba(126, 192, 169, 0.48);
}

.welcomeScreen {
  border: 2px solid rgba(164, 131, 103, 0.75);
  background: rgba(235, 167, 111, 0.35);
  margin-top: 50px;
  height: 300px;
  width: 100%;
  color: #fff;
  text-align: center;
}


header.head {
  position: fixed;
  width: 100%;
  height: 40px;
  background: rgba(113, 164, 146, 0.75);
  border-bottom: 1px solid #547267;
  color: #fff;
  box-shadow: 1px 1px 51px -5px #465852;
  ul.ulNav {
    height: 23px;
    list-style-type: none;
    display: inline-flex;
    width: 45%;
    float: right;
    border-left: 1px solid;
    li {
      width: 25%;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        :hover {
          color: black;
          transition: all ease 0.5s;
        }
      }
    }
  }
  nav {
    width: 100%;
  }
}

.pageWrap {
  width: 100%;
  @include outer-container;
  @include span-columns(12);
}

.usersList {
  border: 2px solid rgba(164, 131, 103, 0.75);
  background: rgba(235, 167, 111, 0.85);
  margin-top: 70px;
  float: right;
  height: 600px;
  overflow: scroll;
  @include span-columns(3);
  @include shift(1);
  .userBox {
    margin: 20px;
    display: -webkit-box;
    border-bottom: 1px solid rgba(164, 131, 103, 0.75);
    img {
      border-radius: 0% 640% 510%;
      height: 50px;
    }
    h3 {
      color: #fff;
      font-size: 12px;
    }
  }
}

.tweet-list {
  border: 2px solid rgba(164, 131, 103, 0.75);
  background: rgba(235, 167, 111, 0.85);
  margin-top: 70px;
  float: right;
  height: 400px;
  overflow: scroll;
  @include span-columns(7);
  @include shift(0);
  section.tweetSubmit {
    height: 50px;
    border-bottom: 2px solid;
    input {
      line-height: normal;
    height: 48px;
    font-size: 28px;
    background: #B5D1C4;
    border: 1px solid #547267;
    color: #465852;
    width: 91.1%;
    }
  }
  .tweet-input {
    color: #fff;
    margin: 20px;
    border-bottom: 1px solid rgba(164, 131, 103, 0.75);
  }
}
